// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Default Project Font
$font-family-base: 'Montserrat', sans-serif;

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#navbarLogo{
    height: 30px;
    width: 30px;
}
