// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Default Project Font
$font-family-base: 'Montserrat', sans-serif;

// Variables
@import 'variables';
$primary-red: #FF1716;
$light-red: #ff4b4a;
$primary-gray: #F2F2F2;
$medium-gray: #C0C0C0;
$tertiary-gray: #888888;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#navbarLogo{
    height: 30px;
    width: 30px;
}

#vetacNavIcon{
    margin-right: 30px;
}

// #navbarSupportedContent{
//     a{
//         color: $medium-gray !important;
//     }:hover{
//         color: $tertiary-gray !important;
//     }
// }